# ==========================================
# Configurações de Ambiente
# ==========================================
.env

# ==========================================
# Framework Onion (Arquivos de Sistema)
# ==========================================
# Pastas de configuração dos agentes
.agents/
# Arquivo de personas do framework
AGENTS.md
agent.md

# ==========================================
# Documentação Técnica e de Framework (Não essenciais para o projeto)
# ==========================================
# Pastas de validações e análises do Onion
docs/analysis/
docs/applying/
docs/meta-specs/
docs/onion/
docs/plans/
docs/technical-context/README.md
docs/reference/
docs/sdaal/

# Base de conhecimento interna do framework e índice
docs/knowledge-base/
docs/INDEX.md

# Arquivo de divisão de atividades por membros da equipe.
docs/business-context/02-product/squadSprintPlan.md
