PORT=3001

# Insira aqui o conteúdo do seu serviceAccountKey.json em uma única linha minificada
# Isso é mais seguro para deploy na Vercel e outros provedores
FIREBASE_SERVICE_ACCOUNT_KEY=

# Ou, localmente, coloque o arquivo serviceAccountKey.json na raiz da pasta backend
